.blog {
  h2 {
    font-size: 26px;
    font-weight: 900;
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.post-links {
  padding: 30px 0;

  h3 {
    font-size: 24px;
  }
}

.container {
  .blog-published {
    font-weight: bold;
  }

  .blog-post {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.alignleft {
  max-width: 300px;
  height: auto;
}

.post-meta-box {
  small {
    span {
      &.dashicons-before {
        &:before {
          vertical-align: middle;
        }
      }
    }
  }
}
