#tribe-events {
  #tribe_events_filters_toggle {
    &:hover {
      margin: 0;
      padding: 0;
      background: transparent;
    }
  }

  .tribe-events-ical {
    &.tribe-events-button {
      margin-top: 0;
      margin-right: 0;

      &:hover {
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
}
