.featured-container {

  .card{
    background-color: $color-default-background;
    .card-img-top{
      a{
        display: block;
        padding: 0;

        &:hover, &:active{
          background: none !important;

          img{
            border: none;
          }
        }
      }
    }
    .card-body{
      padding-bottom: 0;

      .card-title{
        font-size: 1.25rem;
      }
    }
    .card-footer{
      background: none;
      border-top: none;
    }
  }
}

.featured {

  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  img {
    padding: 15px 0;
    width: 100%;
    height: auto;
  }

  p {
    font-weight: 300;

    &:first {
      padding-top: 30px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin: 0;
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}
