section {
  &.footer-widget-area {

    .container-fluid {
      background: $color-default-footer-up;
      padding-top: 30px;
      padding-bottom: 30px;

      .row {
        .container {
          .row {
            div {

              h1, h2, h3, h4, h5, h6, p, a {
                color: #fff;
                text-decoration: none;
              }

              ul {
                list-style: none;

                @include media-breakpoint-down(sm) {
                  padding: 0;
                }

                li {
                  list-style: none;

                  &::before {
                    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: #fff; /* Change the color */
                    font-weight: bold; /* If you want it to be bold */
                    display: inline-block; /* Needed to add space between the bullet and the text */
                    width: 1em; /* Also needed for space (tweak if needed) */
                    margin-left: -1em; /* Also needed for space (tweak if needed) */
                  }
                }
              }

              a {
                &:hover, &:active, &:focus {
                  color: darken($color-white, 10%);
                }
              }
            }

            &.justify-content-center {
              div {
                &.col-12 {
                  ul {
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $color-default-footer-down;

  .footer-logos {
    text-align: center;

    @include clearfix;

    background-color: $color-default-footer-down;
    padding: 30px 30px 10px;

    a {
      color: $color-white;
      display: inline-block;
      margin-bottom: 20px;
      padding-right: 15px;
      width: 25%;


      @include media-breakpoint-up(sm) {
        width: 11.5%;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: darken($color-white, 10%);
        background: transparent;
        outline-color: darken($color-white, 10%);
        outline-style: dotted;
        outline-width: 1px;
      }

      svg {
        height: 60px;
        width: 100%;
      }
    }

  }
}
