$hamburger-bar-width: 32px;
$hamburger-bar-height: 2px;
$hamburger-bar-spacing: 8px;
$hamburger-icon-ease: cubic-bezier(0.23, 1, 0.32, 1);

.#{$prefix}-header {
  background-color: $color-default-background;
  border-bottom: 3px solid $color-black;

  .col-11 {
    @media(max-width: 480px) {
      flex: 0 0 86%;
      max-width: 86%;
    }
  }

  .col-1 {
    @media(max-width: 480px) {
      flex: 0 0 14%;
      max-width: 14%;
    }
  }

  @include media-breakpoint-up(lg) {
    border-bottom: 0
  }

  .site-title {
    padding: 14px 0 10px;

    &.col-no-padding {
      padding: 0;
    }

    .logo-link {
      border-bottom: none;
      color: $color-black;
      display: inline-block;
      margin: 0 !important; /* stylelint-disable-line declaration-no-important */
      padding: 0;
      text-decoration: none;
      background: transparent;

      &:hover {
        color: $color-black;
        background: transparent;
      }

      span {
        &.#{$prefix}-logo-text {
          font-size: 20px;

          &.#{$prefix}-text-sm {
            @include media-breakpoint-up(md) {
              font-size: 24px;
            }
          }

          &.#{$prefix}-text-md {
            @include media-breakpoint-up(md) {
              font-size: 28px;
            }
          }

          &.#{$prefix}-text-lg {
            @include media-breakpoint-up(md) {
              font-size: 32px;
            }
          }
        }
      }

      span {
        &.#{$prefix}-logo-subtext {
          display: block;
          margin-top: -5px;
        }
      }

      img {
        max-height: 50px;
        transition: $transition-default;

        @include media-breakpoint-up(lg) {
          max-height: 90px;
        }
      }
    }
  }

  &.minimize {
    &:not(.full_banner) {
      .logo-link {
        @include media-breakpoint-up(lg) {

          img {
            max-height: 50px !important; /* stylelint-disable-line declaration-no-important */
          }
        }
      }
    }
  }

  .#{$prefix}-hamburger-icon-wrapper {
    cursor: pointer;
    height: $hamburger-bar-height + $hamburger-bar-spacing * 2;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: $hamburger-bar-width;
  }

  .hamburger-icon {
    background: $color-boulder;
    height: $hamburger-bar-height;
    position: absolute;
    transform: translateY($hamburger-bar-spacing);
    transition: $transition-default;
    width: $hamburger-bar-width;

    &.animate {
      background: $color-white;

      &::before {
        background: $color-black;
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 100ms $hamburger-icon-ease,
        transform 100ms 100ms $hamburger-icon-ease;
      }

      &::after {
        background: $color-black;
        top: 0;
        transform: rotate(45deg);
        transition: top 100ms $hamburger-icon-ease,
        transform 100ms 100ms $hamburger-icon-ease;
      }
    }

    &::before,
    &::after {
      height: $hamburger-bar-height;
      width: $hamburger-bar-width;
    }

    &::before {
      background: $color-boulder;
      bottom: $hamburger-bar-spacing;
      content: '';
      left: 0;
      position: absolute;
      transition: bottom 100ms 100ms $hamburger-icon-ease,
      transform 100ms $hamburger-icon-ease;
    }

    &::after {
      background: $color-boulder;
      content: '';
      left: 0;
      position: absolute;
      top: $hamburger-bar-spacing;
      transition: top 100ms 100ms $hamburger-icon-ease,
      transform 100ms $hamburger-icon-ease;
    }
  }
}
