.#{$prefix}-navigation {
  background-color: $color-default-background;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;


  .#{$prefix}-navbar {
    background-color: transparent !important; /* stylelint-disable-line declaration-no-important */
    border-bottom: 1px solid $color-default-current-link;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid $color-default-current-link;
    position: relative;

    .navbar {
      padding: 0;

      > ol {
        > .nav-item {
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }

    .nav-item {
      padding: 0;

      @include media-breakpoint-up(lg) {
        margin: 0;
        padding: 0 10px;
      }

      .nav-link {
        @include font-ubuntu-medium;

        color: $color-default-foreground;
        font-size: 16px;
        margin: 14px 0 10px;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
          text-decoration: underline;
          color: $color-default-current-link;
          background: transparent;
        }

        &:focus {
          text-decoration: underline;
          color: $color-default-current-link;
          background: transparent;
        }
      }

      .dropdown-toggle {
        &:after {
          display: none;
        }
      }

      .dropdown-menu {
        .nav-item {
          .dropdown-item {
            @include font-ubuntu-medium;
            color: $color-default-foreground;

            &:hover {
              text-decoration: none;
              color: $color-white;
              background: $color-default-current-link;
            }

            &:focus {
              text-decoration: none;
              color: $color-white;
              background: $color-default-current-link;
            }
          }
        }
      }

      &.current-menu-item {
        .nav-link {
          color: $color-default-current-link;
          text-decoration: underline;
        }
      }
        span {
          &.fas{
            padding: 0 5px;
          }
        }
    }
  }

  .#{$prefix}-navbar-mobile {
    background-color: $color-default-background;
    border-bottom: 3px solid $color-default-current-link;
    border-left: 0;
    border-right: 0;
    position: relative;

    .navbar {
      padding: 0;
    }

    .dropdown-toggle {
      &:after {
        display: none;
      }
    }

    ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {

      a {
        @include font-ubuntu-bold;

        color: $color-default-foreground;
        display: block;
        padding: 12px 0;
        text-decoration: none;
        text-transform: uppercase;

        &.nav-link{
          margin-right: 5px;
        }

        &:hover, &:focus, &:active, &:visited {
          color: $color-black;
          background: $color-white;
        }
        span {
          &.fas{
            padding: 0 5px;
          }
        }
      }

      .dropdown-menu {
        li {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }

    .#{$prefix}-social {
      float: right;

      .button {
        color: $color-default-link;
      }
    }
  }
}

.admin-bar {
  .#{$prefix}-navigation {
    top: 32px;
  }
}
