.page {
  .main-wrapper {
    .page-nav {
      width: 100%;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 0;
          list-style: none;

          a {
            display: block;
            text-decoration: none;
            margin: 0;
            @include font-ubuntu-bold;
            text-transform: uppercase;
          }
        }
      }

      > ul {
        > li {
          > a {
            padding: 10px;
            background-color: $color-default-foreground;
            width: 100%;
            color: $color-white;
          }

          &.current-menu-item {
            > a {
              background-color: $color-default-link-hover-bg;
            }
          }

          > ul {
            background: #7B7856;

            > li {
              a {
                color: $color-white;

                &:hover {
                  background-color: $color-default-link-hover-bg;
                }
              }

              &.current-menu-item {
                > a {
                  background-color: $color-default-link-hover-bg;
                }
              }

              > a {
                padding-left: 20px;
                padding-top: 10px;
                padding-bottom: 0;
                padding-right: 20px;

                &:after {
                  content: " ";
                  border-bottom-style: solid;
                  border-bottom-width: 1px;
                  border-bottom-color: $color-white;
                  display: block;
                  padding-top: 10px;
                }
              }

              &:last-child {
                > a {
                  padding-bottom: 10px;

                  &:after {
                    display: none;
                  }
                }
              }

              ul {
                > li {
                  > a {
                    padding-left: 30px;
                    padding-top: 10px;
                    padding-bottom: 0;
                    padding-right: 20px;

                    &:after {
                      content: " ";
                      border-bottom-style: solid;
                      border-bottom-width: 1px;
                      border-bottom-color: $color-white;
                      display: block;
                      padding-top: 10px;
                    }
                  }

                  &.current-menu-item {
                    > a {
                      background-color: $color-default-link-hover-bg;
                    }
                  }

                  > ul {
                    > li {
                      a {
                        padding-left: 40px;
                        padding-top: 10px;
                        padding-bottom: 0;
                        padding-right: 20px;
                      }

                      > ul {
                        > li {
                          a {
                            padding-left: 50px;
                            padding-top: 10px;
                            padding-bottom: 0;
                            padding-right: 20px;
                          }

                          > ul {
                            > li {
                              a {
                                padding-left: 60px;
                                padding-top: 10px;
                                padding-bottom: 0;
                                padding-right: 20px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      > ul {
        > li {
          > ul {
            li {
              > ul.children {
                display: none;
              }
            }
          }
        }
      }

      li.current_page_item {
        > ul.children {
          display: block;
        }
      }

      li.current_page_ancestor {
        > ul.children {
          display: block;
        }
      }

      > ul {
        > li {
          > ul {
            background: transparent;

            > li {
              margin: 6px 0;

              > a {
                &:after {
                  border: none;
                }
              }
            }
          }
        }
      }

      ul {
        &:first-child {
          > li {
            > a {
              margin-bottom: 10px;
              padding: 0;
              background-color: $color-white !important;

              &:hover {
                background-color: $color-white !important;
                color: $color-black;
              }

              &:focus {
                background-color: $color-white !important;
                color: $color-black;
              }
            }
          }
        }
      }

      ul.children {
        li {
          > a {
            margin: 0;
            padding-bottom: 6px;

            &:hover {
              color: $color-black;
            }

            &:focus {
              color: $color-black;
            }
          }
        }

        li.current_page_item {
          > a {
            color: $color-black;
          }
        }
      }
    }
  }
}
