.sidebar {
    @include media-breakpoint-down(sm) {
      margin-top: 0;
    }

    h2 {
      font-size: 24px;
    }

    ul {
        line-height: 28px;
    }
    a {
      text-decoration: none;
      color: $color-it;
    }
}
