.#{$prefix}-slider {
  margin-bottom: 70px !important;

  ul {
    list-style-type: none !important;
  }

  .slider-wrapper {
    border: 1px solid $color-default-background !important;
    bottom: 0 !important;
    left: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
  }

  .slide {
    background-size: cover;
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;

    &.current {
      display: block;
      z-index: 500;
    }

    a {
      &.#{$prefix}-post-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
      }
    }

    .img-wrapper {
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    p {
      background-color: rgba($color-default-slider-bar, .9);
      bottom: 0;
      color: $color-default-slider-bar-text;
      font-size: 13px;
      left: 0;
      margin: 0;
      padding: 5px;
      position: absolute;
      right: 0;
    }

    a {
      display: inline-block;
      margin-left: 10px;
      color: $color-default-slider-bar-text;
    }
  }

  .carousel {
    margin: 0;
    padding-bottom: 56.2% !important; /* stylelint-disable-line declaration-no-important */
    position: relative;

    &.with-slidenav {
      background-color: $color-default-background;
      padding-bottom: 2em;
    }

    &.active {

      .slide {
        border: none;
        left: 0;
        position: absolute;
        top: 0;
        transition: left 0.25s ease-out;
        -webkit-transition: left 0.25s ease-out;
        -moz-transition: left 0.25s ease-out;
        -o-transition: left 0.25s ease-out;
        visibility: hidden;

        &.current {
          left: 0;
          visibility: visible;
        }

        &.next {
          left: 100%;
        }

        &.nexttwo{
          left: -100% !important;
        }

        &.prevtwo{
          left: 100% !important;
        }

        &.prev {
          left: -100%;
        }

        &.next.in-transition,
        &.prev.in-transition {
          visibility: visible;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
    }
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .controls {

    .button-wrapper {
      float: left;
      height: 100%;
      width: 50%;
    }

    .btn-prev {
      border-radius: 0 0.25em 0.25em 0;
      left: 0;
    }

    .btn-next {
      border-radius: 0.25em 0 0 0.25em;
      right: 0;
    }

    .btn-prev,
    .btn-next {
      background: rgba(255, 255, 255, 0.6);
      border: 0;
      line-height: 1;
      padding: 10px;
      position: absolute;
      top: 50%;
      transition: padding 0.4s ease-out;
      z-index: 700;

      i {
        pointer-events: none;
      }
    }
  }

  .slidenav {
    bottom: -45px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 700;

    li {
      display: inline-block;
      margin: 0 0.5em;
    }

    button {
      background-color: $color-default-foreground;
      border: 2px solid $color-default-foreground;
      color: $color-white;
      font-size: 14px;
      font-weight: bold;
      height: 32px;
      padding: 0;
      text-align: center;
      width: 32px;

      i {
        pointer-events: none;
      }

      &.current {
        background-color: $color-white;
        color: $color-default-foreground;

        &:hover,
        &:focus {
          background-color: $color-white;
          color: $color-default-foreground;
        }
      }

      &:hover,
      &:focus {
        background-color: $color-default-current-link;
      }
    }
  }
}
