.#{$prefix}-social {
  display: inline;

  .button {
    color: $color-default-foreground;
    font-size: 22px;
    margin-right: 10px;
    text-decoration: none;
    background: transparent;

    &:hover {
      color: $color-default-current-link;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
