.container {
  &.staff {
    .col-lg-8 {
      padding: 0 30px;
    }

    .card {
      margin-bottom: 10px;
      border: none;

      .col-md-9 {
        .card-body {
          padding-top: 0;
          padding-bottom: 0;

          h6 {
            margin: 0;
            line-height: 2.5rem;
          }

          .card-text {
            margin: 0;
            line-height: 2.5rem;
          }
        }
      }
    }

    .member-group {
      margin-top: 25px;

      h4 {
        margin-top: -22px;
        color: white;
        padding: 5px 10px;
        margin-bottom: 25px;
        font-size: 20px;
      }
    }
  }
}
