// CLEARFIX
// --------------------------------------------------

@mixin clearfix {
  &::before {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
    content: ' ';
    display: table;
  }
}
  