// Mixins
// --------------------------------------------------

@mixin opacity($opacity) {
  opacity: $opacity;
}

@mixin fontFace($family, $style: normal, $weight: normal) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    src: url('#{$font-url}/#{$family}.eot');
    src: url('#{$font-url}/#{$family}.eot?#iefix') format('embedded-opentype'),
         url('#{$font-url}/#{$family}.woff') format('woff'),
         url('#{$font-url}/#{$family}.ttf') format('truetype'),
         url('#{$font-url}/#{$family}.svg##{$family}') format('svg');
  }
}

@mixin font-light {
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

@mixin font-regular {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: 700;
}

@mixin font-ubuntu-regular {
  font-family: 'Ubuntu-Regular', sans-serif;
  font-weight: 400;
}

@mixin font-ubuntu-medium {
  font-family: 'Ubuntu-Medium', sans-serif;
  font-weight: 500;
}

@mixin font-ubuntu-bold {
  font-family: 'Ubuntu-Bold', sans-serif;
  font-weight: 700;
}
