// Typography
// --------------------------------------------------

$font-url: '../fonts';

@each $family in $fonts {
  @include fontFace($family);
}

body {
  color: $color-black;
  font-family: $font-roboto-light, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: $color-default-background;
}

a {
  color: $color-default-link;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
    color: $color-default-link-hover;
    background-color: $color-default-link-hover-bg;
  }

  &:focus {
    color: $color-default-link-visited;
    background-color: $color-default-link-hover-bg;
    text-decoration: none;
  }

  &:active {
    color: $color-default-link-active;
    background-color: $color-default-link-hover-bg;
    text-decoration: none;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

p {
  line-height: 28px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.main {
  margin: 0 0 30px 0;
}

hr {
  border-top: 1px solid $color-teal;
}

.btn-primary {
  color: #fff;
  background-color: $color-it;
  border-color: $color-it;
}

.btn-primary:hover {
  color: #fff;
  background-color: $color-dark-grey;
  border-color: $color-dark-grey;
}

.widget-content{
  margin-bottom: 1.25rem;
}

.widget-title{
  font-size: 18px;
}
