//
// Global variables
// --------------------------------------------------


// Colors
// --------------------------------------------------
$color-red: #f00;
$color-white: #fff;
$color-black: #000;
$color-teal: #e1e1e1;
$color-grey: #777;
$color-dark-grey: #333;
$color-it: #005d90;
$color-mercury: #e1e1e1;
$color-boulder: #777;

// WCAG 2.0 Compliant links Default Theme Colors
$color-default-foreground: #293845;
$color-default-background: $color-white;
$color-default-slider-bar: $color-white;
$color-default-slider-bar-text: $color-black;
$color-default-footer-up: lighten($color-default-foreground, 2%);
$color-default-footer-down: $color-default-foreground;
$color-default-link: $color-default-foreground;
$color-default-current-link: #798188;
$color-default-link-active: $color-white;
$color-default-link-visited: $color-white;
$color-default-link-hover: $color-white;
$color-default-link-hover-bg: $color-default-current-link;


// WCAG 2.0 Compliant links Theme 1
// $color-link: #574AE2;
// $color-link-active: $color-link;
// $color-link-visited: $color-link;
// $color-link-hover: $color-grey;

// WCAG 2.0 Compliant links Theme 3
// $color-link: #574AE2;
// $color-link-active: $color-link;
// $color-link-visited: $color-link;
// $color-link-hover: $color-grey;

// WCAG 2.0 Compliant links Theme 4
// $color-link: #574AE2;
// $color-link-active: $color-link;
// $color-link-visited: $color-link;
// $color-link-hover: $color-grey;

// Fonts
// --------------------------------------------------
$font-roboto-light: 'Roboto-Light';
$font-roboto-regular: 'Roboto-Regular';
$font-roboto-bold: 'Roboto-Bold';

$font-ubuntu-regular: 'Ubuntu-Regular';
$font-ubuntu-medium: 'Ubuntu-Medium';
$font-ubuntu-bold: 'Ubuntu-Bold';

$fonts: ('Roboto-Light', 'Roboto-Regular', 'Roboto-Bold', 'Ubuntu-Regular', 'Ubuntu-Medium', 'Ubuntu-Bold');

/* Transitions */

$transition-default: all 100ms linear;

/* shadows */

$shadow-default: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);

$prefix : 'cla';
