// #header {margin-top: 28px;}

.image-banner {
  padding: 30px 0;
}

.form-control {
  display: inline;
  width: 80%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-wrapper {
  padding: 0;
}

.container {
  h1 {
    font-size: 30px;
    padding: 0 0 15px 0;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}


#breadcrumbs {
  font-size: 16px;
  padding: 0;
}

img {
  &.attachment-post-thumbnail {
    width: 100%;
    height: auto;
  }
}

.main-wrapper {
  margin-top: 90px;

  @include media-breakpoint-up(lg) {
    margin-top: 150px;
  }
}

#cookie-notice {
  display: block;
  visibility: hidden;
  position: fixed;
  min-width: 100%;
  height: auto;
  z-index: 100000;
  font-size: 14px;
  line-height: 26px;
  left: 0;
  text-align: center;

  .cookie-notice-container {
    #cn-notice-text {
      @include media-breakpoint-down(md) {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
}

#signup-content {
  @include make-container();
  @include make-container-max-widths();
  text-align: center;
}
