/* Responsive Google Calendar */
/* Responsive iFrame */
 
.responsive-iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.responsive-iframe-container iframe,   
.responsive-iframe-container object,
.responsive-iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive Youtube videos */
.cuc-video-container{
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}
.cuc-video-container-outer{
max-width: 640px;
}
.cuc-video-container iframe,.cuc-video-container object,.cuc-video-container embed{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }


// Events Calendar mini
.tribe-mini-calendar td {
  background: $color-dark-grey !important;
  border-color: #fff;
  transition: all .2s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

.tribe-mini-calendar thead {
 background-color: #000 !important;
 padding: 50px 0 !important;
}
.tribe-mini-calendar-nav {
  background: #000 !important;
  padding: 5px 0;
}
.tribe-mini-calendar .tribe-events-past {
  opacity: 1 !important;
}

.tribe-mini-calendar th {
  background: $color-dark-grey;
  border-color: $color-dark-grey;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}

.tribe-mini-calendar td, .tribe-mini-calendar th {
  padding: 5px 0;
}
