/* *
 * blocks.css
 * Overrides default block editor styles
 *
 * # Core Blocks
 * 	## Common
 * 		### Title
 * 		### Headline
 * 		### Paragraph
 * 		### List
 * 		### Code
 * 		### Quote
 * 	## Formatting
 * 	## Layout
 * 	## Widgets
 * 	## Embeds
 * # Images
 *
 */

/* *
 * # Core Blocks 
 */

.wp-block,
.wp-block-code .editor-plain-text {
	font-family: "Roboto-Light", sans-serif;
	max-width: 730px;
}

/* *
 * ## Common 
 * Paragraph, Image, Heading, Subheading, Gallery, List, Quote, Audio, Cover Image, File, Video
 * example: core/paragraph
 */

/* *
 * ### Title - Post Title, Page Title
 */

h1.entry-title,
.wp-block.editor-post-title__block .editor-post-title__input {
	font-size: 30px;
	font-family: "Roboto-Light", sans-serif;
	font-weight: normal;
}


/* *
 * ### Headline
 */
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {
	font-weight: normal;
}


.wp-block-heading h2 {
	font-size: 26px;
	font-weight: 900;
}

.wp-block-heading h3 {
	font-size: 1.75rem;
}

.wp-block-heading h4 {
	font-size: 1.5rem;
}

.wp-block-heading h5 {
	font-size: 1.25rem;
}

.wp-block-heading h6 {
	font-size: 1rem;
}

/* *
 * ### Paragraph
 */

p.wp-block-paragraph.editor-rich-text__tinymce {
	font-size: 16px;
}

/* *
 * ### Code
 */
pre.wp-block-code,
.editor-block-list__block-edit .wp-block-code textarea.editor-plain-text {
	border: 1px solid #404040;
	border-radius: 5px;
	font-family: monospace;
	line-height: 1.7;
	margin: 1rem auto;
	max-width: 75rem;
	padding: 1rem;
	white-space: pre-wrap;
}

/* *
 * ### Quote
 * -- Regular
 */
.wp-block-quote:not(.is-large):not(.is-style-large) {
	background-color: rgb(249, 249, 249);
	padding: 1rem;
	border-left-color:rgb(204, 204, 204);
	border-left-width: 10px;
}

.wp-block-quote p,
.wp-block-quote .editor-rich-text__tinymce p {
	color: #000;
}

.wp-block-quote cite,
.wp-block-quote__citation {
	color: #000;
	font-style: italic;
}

/* -- Large */
.wp-block-quote.is-style-large {
	background-color: #f1f1f1;
	border-radius: 0.5rem;
	margin: 1rem auto 0rem;
	max-width: 75rem;
	padding: 3rem;
}

.wp-block-quote.is-style-large p {
	color: #404040;
	font-size: 2.25rem;
	font-style: normal;
	margin: 0.25rem 0;
}

/* *
 * ## Formatting
 * Table, Verse, Code, Classic, Custom HTML, Preformatted, Pullquote
 * example: core/table
 */

/* *
 * ## Layout
 * Button, Columns, More, Page break, Seperator, Spacer
 * example: core/button
 */

/* *
 * ## Button
 */
 
/* *
 * ## Widgets 
 * Shortcode, Archives, Categories, Latest Comments, Latest Posts
 * example: core/latest-comments
 */

/* *
 * ## Embeds
 * embed, twitter, youtube, facebook, instagram, wordpress, soundcloud, spotify, flickr, vimeo, animoto, cloudup, collegehumor, dailymotion, funnyordie, hulu, imgur, issuu, kickstarter, meetup-com, mixcloud, photobucket, polldaddy, reddit, reverbnation, scribd, slideshare, smugmug, speaker, ted, tumblr, videopress, wordpress-tv
 * example: core/embed
 * example: core-embed/twitter
 */

.wp-block-embed figcaption {
	text-align: left;
}

/* *
 * # Images
 */

div.wp-block-image {
	max-width: 730px;
}

.wp-block-image figcaption {
	margin-top: 0;
	text-align: left;
}

.wp-block-image.alignfull {
	max-width: 100%;
	padding: 1rem 0;
}

.wp-block-image.alignwide {
	max-width: 730px;
	padding: 1rem 0;
}
