/*
	Theme Name: TCCS Intercollegiate
	Theme URI: 
	Description: Responsive WordPress Theme 
	Version: 1.0.11
	Author: Joseph Dickson
	Author URI: https://joseph-dickson.com
	Tags: HTML5, CSS3, WCAG
*/

/**
 * Version 1.0.3 with fixes applied and reduce reliance on Advanced Custom Fields
 * to display certain content areas such as menus that won't require it.
 * joseph_dickson@pitzer.edu 
 */

/* *
 * ## Sidebar
 */
#sidebar ul.menu {
	padding: 0;
}

#sidebar a.list-group-item.list-group-item-action:focus,
#sidebar a.list-group-item.list-group-item-action:hover {
	padding: 0.75rem 1.25rem;
	margin: 0 0 -1px 0;
}

/**
 * ## Homepage
 * Override font awesome icon for right arrow, cards use dashicons
 */
a.more-link::after {
	display: none;
}
