.svg-icon {
  pointer-events: none;
  vertical-align: middle;
}

#icon-arrow-down,
#icon-arrow-left,
#icon-arrow-right,
#icon-arrow-top {
  path {
    stroke: currentColor;
  }
}

#icon-facebook,
#icon-twitter,
#icon-envelop,
#icon-share,
#icon-search {
  path {
    fill: currentColor;
  }
}

#icon-instagram {
  path {
    &:nth-child(2) {
      fill: currentColor;
    }
  }
}
  
#icon-logo-cgu,
#icon-logo-cmc,
#icon-logo-cuc,
#icon-logo-hmc,
#icon-logo-kgi,
#icon-logo-pitz,
#icon-logo-pom,
#icon-logo-scripps {
  path {
    fill: currentColor;
  }
}

#icon-close {
  path {
    fill: currentColor;
  }
}
  