/*
 * fontawesome 5.15.1 web free version
 * import self hosted fonts
 */
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fa-brands-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('fa-brands-400.woff') format('woff'), /* Modern Browsers */
       url('fa-regular-400.woff2') format('woff2'), /* Super Modern Browsers */
       url('fa-regular-400.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('fa-solid-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fa-solid-900.woff') format('woff'), /* Modern Browsers */
}
