a {
  color: #0F084B;

  &.more-link {
    color: #0F084B;
  }
}

h2.entry-title a, #breadcrumbs a {
  color: #0F084B;
}

a {
  &.more-link::after {
    color: #0F084B;
  }

  &:hover, &:focus {
    color: #0F084B;
    border-bottom: 1px solid transparent;
    background: none;
  }
}

section.footer-widget-area .container-fluid {
  background-color: #26408B;
}

.cla-slider {
  .slide p {
    background-color: #26408B;
  }

  .slidenav button {
    background-color: #26408B;
    border: 2px solid #26408B;
  }
}

footer {
  background-color: #0F084B !important;
  border: none;

  .footer-logos {
    background-color: #0F084B !important;
    border: none;
  }
}

.cla-navigation .cla-navbar {
  background-color: #0F084B !important;
  border: none;

  .nav-item .dropdown-menu .nav-item .dropdown-item {
    color: #0F084B;
    text-decoration: none;

    &:hover, &:focus {
      background: #26408B;
    }
  }
  a{
    &.dropdown-toggle{
      color: #ffffff;

      &:hover, &:focus, &:active {
        color: #ffffff;
      }
    }
  }
}

.cla-social .button {
  &:hover, &:focus {
    color: #785589;
  }
}

.cla-slider .slidenav button {
  &:hover, &:focus {
    background-color: #0F084B;
    border: 2px solid #0F084B;
    color: #ffffff;
  }
}

.footer-widget-area a {
  &:hover, &:focus {
    background: none;
    color: #fff;
    border-bottom: 1px solid transparent;
  }
}

.page .main-wrapper .page-nav ul > li {
  > a {
    background-color: #26408B;
  }

  &.current_page_item > a {
    background-color: #0F084B;
  }

  > a {
    &:hover, &:focus {
      background-color: #785589;
    }
  }
}

.menu .list-group-item-action {
  color: #0F084B;
  text-decoration: none;
}

.calendar_wrap a, .tribe-events-nav-pagination a {
  color: #26408B;
}

.calendar_wrap a {
  &:hover, &:focus {
    color: #ffffff;
    background: #26408B;
  }
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background: #08605F;
}

.tribe-events-calendar thead th {
  background: #26408B;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

#tribe-events .tribe-events-button {
  background: #08605F;

  &:hover {
    background: #08605F;
  }
}

#tribe_events_filters_wrapper input[type=submit] {
  background: #08605F;
}

.tribe-events-button {
  background: #08605F;

  &.tribe-active:hover, &.tribe-inactive, &:hover {
    background: #08605F;
  }
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
  background: #08605F;

  a {
    background: #08605F;
  }
}

.tribe-events-nav-pagination a {
  &:hover, &:focus {
    background: #26408B;
    color: #ffffff;
    padding: 4px 6px;
  }
}

.tribe-events-calendar div[id*=tribe-events-daynum-] {
  background-color: #f5f5f5;

  a {
    background-color: #f5f5f5;
  }
}

header.cla-header {
  border-bottom: 3px solid #0F084B;
}

.cla-header .hamburger-icon {
  background: #0F084B;

  &::before, &::after {
    background: #0F084B;
  }
}

.cla-navigation .cla-navbar-mobile {
  background: #ffffff;
  border-bottom: 3px solid #0F084B;

  li a {
    color: #0F084B;
    border-bottom: 2px solid transparent;
    padding-bottom: 0;
    margin-bottom: 8px;
    display: inline-block;

    &:hover, &:focus {
      background: #ffffff;
      border-bottom: 2px solid #0F084B;
    }
  }
}

.list-group-item {
  border: 1px solid #26408B;

  &:hover {
    border: 1px solid #26408B;
    background: #26408B;
    color: #ffffff !important;
  }

  &:focus {
    background: #26408B;
    color: #ffffff !important;
  }
}

.card {
  .btn {
    color: #0F084B;
    border-color: #0F084B;

    &:hover, &:focus {
      background-color: #0F084B !important;
      color: $color-white;
    }
  }
}
.page {
	.main-wrapper {
		.page-nav {
			ul {
				&:first-child {
					>li {
						>a {
							color: #26408B;
							border-bottom: 4px solid #C3CADF;
							&:hover {
								border-bottom: 4px solid #785589;
							}
							&:focus {
								border-bottom: 4px solid #785589;
							}
						}
					}
				}
			}
			ul.children {
				li {
					>a {
						background-color: #C3CADF !important;
						color: #26408B;
					}
				}
			}
		}
	}
}

.container {
  &.staff {

    .member-group {
      border-top: 4px solid #C3CADF;

      h4 {
        background: #0F084B;
      }
    }
  }
}
.page {
	.main-wrapper {
		.page-nav {
			ul {
				>li {
					>ul {
						>li {
							a {
								&:hover {
									background-color: #785589;
								}
							}
							>a {
								&:focus {
									background-color: #785589;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pagination {
	.page-item.active {
		.page-link {
			background-color: #0F084B;
			border-color: #0F084B;
		}
	}
	.page-link {
		color: #0F084B;
	}
}
.tribe-events-notices {
	background: #C3CADF;
	border: 1px solid #C3CADF;
}

