:focus, .cn-button.bootstrap:focus {
  outline: auto 2px Highlight;
  outline: auto 5px -webkit-focus-ring-color;
  box-shadow: none !important;
}

a {
  &.skip-link.screen-reader-text:focus {
    top: 0;
    height: auto;
    width: auto;
    background-color: #000;
    color: #fff;
    clip: auto;
    clip-path: none;
    z-index: 1001;
    margin: 10px;
    padding: 10px;
  }

  text-decoration: none;
  border-bottom: 1px solid;
}

.footer-logos a, .cla-social a, a.more-link, .menu-item a, .page .main-wrapper .page-nav ul li a, .featured-container .card-img-top a, .footer-logos a:hover, .cla-social a:hover, a.more-link:hover, .menu-item a:hover {
  border-bottom: none;
}

.page .main-wrapper .page-nav ul li a {
  &:hover, &:focus {
    border-bottom: none;
  }
}

.footer-logos a:focus, .cla-social a:focus, a.more-link:focus, .menu-item a:focus {
  border-bottom: none;
}

body, .cla-header, .featured-container .card {
  background-color: #fff;
}

.cla-navigation {
  background-color: #fff;

  .cla-navbar .nav-item {
    .nav-link {
      border-bottom: 2px solid transparent;
    }

    &.current-menu-item .nav-link {
      color: #ffffff !important;
      text-decoration: none !important;
      border-bottom: 2px solid #ffffff !important;
    }
  }
}

.tribe-events-calendar {
  td.tribe-events-past div[id*=tribe-events-daynum-], div[id*=tribe-events-daynum-], td.tribe-events-othermonth.tribe-events-future div[id*=tribe-events-daynum-] {
    color: #000000;
    opacity: initial;

    a {
      color: #000000;
      opacity: initial;
    }
  }
}

.tribe-events-notices {
  color: #000000;
  opacity: initial;
}

.tribe-events-calendar td.tribe-events-past {
  .tribe-events-month-event-title a, .tribe-events-viewmore a {
    opacity: inherit;
  }
}

.calendar_wrap a {
  font-weight: bold;
  padding: 2px;
}

.cla-slider .slide {
  p {
    color: $color-white;
  }

  a {
    display: initial;
    font-weight: bold;
    border-bottom: none;
    color: $color-white;
  }
}

a.more-link {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;

  &::after {
    font-family: FontAwesome;
    margin-left: 8px;
    content: "\f054";
    position: absolute;
  }
}

.cla-slider .slide a:last-child::after {
  font-family: FontAwesome;
  margin-left: 8px;
  content: "\f054";
  position: absolute;
}

a.more-link:hover, .cla-slider .slide a:last-child:hover {
  border-bottom: 1px solid;
  background: none;
}

a.more-link:focus .cla-slider .slide a:last-child:focus {
  background: none;
}

.nav-link:hover {
  text-decoration: none;
  border-bottom: 2px solid;
}

.cla-navigation .cla-navbar .nav-item .nav-link, .cla-social .button {
  color: #ffffff;
}

.cla-navigation .cla-navbar .nav-item{
  &.dropdown{
    a{
      &.nav-link{
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}

.cla-navigation .cla-navbar .nav-item .nav-link {
  &:hover, &:focus {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid;
  }
}

.cla-slider .slidenav button {
  &:hover, &:focus {
    background-color: #ffffff;
  }
}

.footer-widget-area a {
  border-bottom: 1px solid;
}

#breadcrumbs a {
  text-decoration: none;
  border-bottom: 1px solid;

  &:hover {
    border-bottom: 1px solid transparent;
    background: none;
  }
}

h2.entry-title a {
  text-decoration: none;
  border-bottom: 2px solid;

  &:hover, &:focus {
    border-bottom: 2px solid transparent;
    background: none;
  }
}

.tribe-events-nav-pagination a {
  padding: 4px 6px;
}

#wp-calendar caption {
  caption-side: top;
  color: #000000;
}

.tribe-mini-calendar th.tribe-mini-calendar-dayofweek {
  background: #E8EBE4 !important;
  border: 2px solid #ffffff !important;
  padding: 5px !important;
  color: #000000 !important;
}

.tribe-mini-calendar-no-event, .tribe-mini-calendar-nav span {
  color: #000000 !important;
  background: #ffffff !important;
}

.tribe-mini-calendar {
  td, th {
    border: 1px solid #E8EBE4 !important;
  }

  .tribe-mini-calendar-nav td {
    background: #ffffff !important;
    padding: 5px !important;
    border: 1px solid #ffffff !important;
    border-bottom: 1px solid #E8EBE4 !important;
  }
}

.tribe-mini-calendar-nav div span {
  background: #ffffff !important;
}

.tribe-mini-calendar .tribe-events-has-events {
  background: #E8EBE4 !important;
  border: 1px solid #E8EBE4 !important;
  color: #000 !important;
}

.tribe-mini-calendar-event .list-date {
  background: #E8EBE4 !important;
  color: #000 !important;

  .list-daynumber {
    background: #E8EBE4 !important;
    color: #000 !important;
  }
}

.tribe-mini-calendar {
  .tribe-events-has-events div[id*=daynum-] a {
    color: #000000 !important;
  }

  a {
    border-bottom: none !important;
  }

  .tribe-events-past {
    opacity: .5 !important;
  }

  .tribe-events-has-events {
    &:hover, a:hover {
      background: #9FAA8D !important;
    }
  }
}

section.footer-widget-area {
	.container-fluid {
		.row {
			.container {
				.row {
					div {
						a {
							&:hover {
								color: #ffffff;
							}
							&:active {
								color: #ffffff;
							}
							&:focus {
								color: #ffffff;
							}
						}
					}
				}
			}
		}
	}
}
.tribe-events-day {
	.tribe-events-day-time-slot {
		.tribe-events-day-time-slot-heading {
			color: #000000;
		}
	}
}
#tribe-events {
	.tribe-events-button {
		vertical-align: bottom;
	}
}
.tribe-events-notices {
	text-shadow: none;
	font-weight: bold;
}
abbr[title] {
	text-decoration: none;
}
abbr[data-original-title] {
	text-decoration: none;
}
#tribe_events_filters_reset {
	border-bottom: none;
}

.tribe-events-filter-view.tribe-filters-closed {
  #tribe_events_filters_wrapper {
    #tribe_events_filters_toggle {
      &.tribe_events_filters_show_filters {
        display: inline !important;
      }

      background: transparent !important;
      border: none !important;
      border-bottom: 1px solid !important;

      &:hover {
        border-bottom: 1px solid transparent !important;
      }
    }
  }
}

.tribe-events-sub-nav {
  li {
    a {
      padding: 4px 6px !important;
    }
  }
}

.tribe-events-othermonth {
  .tribe-events-month-event-title {
    opacity: 1 !important;
  }

  div[id*=tribe-events-daynum-] {
    opacity: 1 !important;
  }
}


