a {
  color: #483D8B;

  &:hover {
    color: #483D8B;
    border-bottom: 1px solid transparent;
    background: none;
  }

  &:focus {
    color: #483D8B;
    border-bottom: 1px solid transparent;
    background: none;
  }
}

a.more-link {
  color: #483D8B;

  &::after {
    color: #483D8B;
  }
}

h2.entry-title {
  a {
    color: #483D8B;
  }
}

#breadcrumbs {
  a {
    color: #483D8B;
  }
}

section.footer-widget-area {
  .container-fluid {
    background-color: #393355;
  }
}

.cla-slider {
  .slide {
    p {
      background-color: #393355;
    }
  }

  .slidenav {
    button {
      background-color: #393355;
      border: 2px solid #393355;

      &:hover {
        background-color: #483D8B;
        border: 2px solid #483D8B;
        color: #ffffff;
      }

      &:focus {
        background-color: #483D8B;
        border: 2px solid #483D8B;
        color: #ffffff;
      }
    }
  }
}

footer {
  background-color: #483D8B !important;
  border: none;

  .footer-logos {
    background-color: #483D8B !important;
    border: none;
  }
}

.cla-navigation {
  .cla-navbar {
    background-color: #483D8B !important;
    border: none;

    .nav-item {
      .dropdown-menu {
        .nav-item {
          .dropdown-item {
            color: #483D8B;
            text-decoration: none;

            &:hover {
              background: #393355;
            }

            &:focus {
              background: #393355;
            }
          }
        }
      }
      a{
        &.dropdown-toggle{
          color: #ffffff;

          &:hover, &:focus, &:active {
            color: #ffffff;
          }
        }
      }
    }
  }

  .cla-navbar-mobile {
    background: #ffffff;
    border-bottom: 3px solid #483D8B;

    li {
      a {
        color: #483D8B;
        border-bottom: 2px solid transparent;
        padding-bottom: 0;
        margin-bottom: 8px;
        display: inline-block;

        &:hover {
          background: #ffffff;
          border-bottom: 2px solid #483D8B;
        }

        &:focus {
          background: #ffffff;
          border-bottom: 2px solid #483D8B;
        }
      }
    }
  }
}

.cla-social {
  .button {
    &:hover {
      color: #CCB7AE;
    }

    &:focus {
      color: #CCB7AE;
    }
  }
}

.footer-widget-area {
  a {
    &:hover {
      background: none;
      color: #fff;
      border-bottom: 1px solid transparent;
    }

    &:focus {
      background: none;
      color: #fff;
      border-bottom: 1px solid transparent;
    }
  }
}

.menu {
  .list-group-item-action {
    color: #483D8B;
    text-decoration: none;
  }
}

.calendar_wrap {
  a {
    color: #393355;

    &:hover {
      color: #ffffff;
      background: #393355;
    }

    &:focus {
      color: #ffffff;
      background: #393355;
    }
  }
}

.tribe-events-nav-pagination {
  a {
    color: #393355;

    &:hover {
      background: #393355;
      color: #ffffff;
      padding: 4px 6px;
    }

    &:focus {
      background: #393355;
      color: #ffffff;
      padding: 4px 6px;
    }
  }
}

#tribe-bar-form {
  .tribe-bar-submit {
    input[type=submit] {
      background: #12355B;
    }
  }
}

.tribe-events-calendar {
  thead {
    th {
      background: #393355;
      border-left: 1px solid #ffffff;
      border-right: 1px solid #ffffff;
    }
  }

  td.tribe-events-present {
    div[id*=tribe-events-daynum-] {
      background: #12355B;

      a {
        background: #12355B;
      }
    }
  }

  div[id*=tribe-events-daynum-] {
    background-color: #f5f5f5;

    a {
      background-color: #f5f5f5;
    }
  }
}

#tribe-events {
  .tribe-events-button {
    background: #12355B;

    &:hover {
      background: #12355B;
    }
  }
}

#tribe_events_filters_wrapper {
  input[type=submit] {
    background: #12355B;
  }
}

.tribe-events-button {
  background: #12355B;

  &:hover {
    background: #12355B;
  }
}

.tribe-events-button.tribe-active {
  &:hover {
    background: #12355B;
  }
}

.tribe-events-button.tribe-inactive {
  background: #12355B;
}

header.cla-header {
  border-bottom: 3px solid #483D8B;
}

.cla-header {
  .hamburger-icon {
    background: #483D8B;

    &::before {
      background: #483D8B;
    }

    &::after {
      background: #483D8B;
    }
  }
}

.list-group-item {
  border: 1px solid #393355;

  &:hover {
    border: 1px solid #393355;
    background: #393355;
    color: #ffffff !important;
  }

  &:focus {
    background: #393355;
    color: #ffffff !important;
  }
}

.tribe-events-filter-view.tribe-filters-closed {
  #tribe_events_filters_wrapper {
    #tribe_events_filters_toggle {
      color: #483D8B;
    }
  }
}

.card {
  .btn {
    color: #483D8B;
    border-color: #483D8B;

    &:hover {
      background-color: #483D8B !important;
      color: #ffffff;
    }

    &:focus {
      background-color: #483D8B !important;
      color: #ffffff;
    }
  }
}

.page {
  .main-wrapper {
    .page-nav {
      ul {
        > li {
          > a {
            background-color: #393355 !important;

            &:hover {
              background-color: #420039 !important;
            }

            &:focus {
              background-color: #420039 !important;
            }
          }
        }

        > li.current_page_item {
          > a {
            background-color: #3B3272 !important;
          }
        }

        &:first-child {
          > li {
            > a {
              margin-bottom: 10px;
              padding: 0;
              color: #53174B;
              background: #ffffff !important;
              border-bottom: 4px solid #C6C2CB;

              &:hover {
                background: #ffffff !important;
                color: #000000;
                border-bottom: 4px solid #420039;
              }

              &:focus {
                background: #ffffff !important;
                color: #000000;
                border-bottom: 4px solid #420039;
              }
            }
          }
        }
      }

      ul.children {
        li {
          > a {
            background-color: #C6C2CB !important;
            color: #53174B;
            margin: 0;
            padding-bottom: 6px;

            &:hover {
              color: #000000;
            }

            &:focus {
              color: #000000;
            }
          }
        }

        li.current_page_item {
          > a {
            color: #000000;
          }
        }
      }
    }
  }
}

.container {
  &.staff {

    .member-group {
      border-top: 4px solid #C6C2CB;

      h4 {
        background: #3B3272;
      }
    }
  }
}

.pagination {
  .page-item.active {
    .page-link {
      background-color: #483D8B;
      border-color: #483D8B;
    }
  }

  .page-link {
    color: #483D8B;
  }
}

.tribe-events-notices {
  background: #C6C2CB;
  border: 1px solid #C6C2CB;
}

