a {
  color: #7E1946;
  &.more-link {
    color: #7E1946;
  }
}

h2.entry-title a, #breadcrumbs a {
  color: #7E1946;
}

a {
  &.more-link::after {
    color: #7E1946;
  }
  &:hover, &:focus {
    color: #7E1946;
    border-bottom: 1px solid transparent;
    background: none;
  }
}

section.footer-widget-area .container-fluid {
  background-color: #A63446;
}

.cla-slider {
  .slide p {
    background-color: #A63446;
  }
  .slidenav button {
    background-color: #A63446;
    border: 2px solid #A63446;
  }
}

footer {
  background-color: #7E1946 !important;
  border: none;
  .footer-logos {
    background-color: #7E1946 !important;
    border: none;
  }
}

.cla-navigation .cla-navbar {
  background-color: #7E1946 !important;
  border: none;
  .nav-item .dropdown-menu .nav-item .dropdown-item {
    color: #7E1946;
    text-decoration: none;
    &:hover, &:focus {
      background: #A63446;
    }
  }
  a{
    &.dropdown-toggle{
      color: #ffffff;

      &:hover, &:focus, &:active {
        color: #ffffff;
      }
    }
  }
}

.cla-social .button {
  &:hover, &:focus {
    color: #B65867;
  }
}

.cla-slider .slidenav button {
  &:hover, &:focus {
    background-color: #7E1946;
    border: 2px solid #7E1946;
    color: #ffffff;
  }
}

.footer-widget-area a {
  &:hover, &:focus {
    background: none;
    color: #fff;
    border-bottom: 1px solid transparent;
  }
}

.page .main-wrapper .page-nav ul > li {
  > a {
    background-color: #A63446;
  }
  &.current_page_item > a {
    background-color: #7E1946;
  }
  > a {
    &:hover, &:focus {
      background-color: #B65867;
    }
  }
}

.menu .list-group-item-action {
  color: #7E1946;
  text-decoration: none;
}

.calendar_wrap a, .tribe-events-nav-pagination a {
  color: #A63446;
}

.calendar_wrap a {
  &:hover, &:focus {
    color: #ffffff;
    background: #A63446;
  }
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
  background: #306C8D;
}

.tribe-events-calendar thead th {
  background: #A63446;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

#tribe-events .tribe-events-button {
  background: #306C8D;
  &:hover {
    background: #306C8D;
  }
}

#tribe_events_filters_wrapper input[type=submit] {
  background: #306C8D;
}

.tribe-events-button {
  background: #306C8D;
  &.tribe-active:hover, &.tribe-inactive, &:hover {
    background: #306C8D;
  }
}

.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
  background: #306C8D;
  a {
    background: #306C8D;
  }
}

.tribe-events-nav-pagination a {
  &:hover, &:focus {
    background: #A63446;
    color: #ffffff;
    padding: 4px 6px;
  }
}

.tribe-events-calendar div[id*=tribe-events-daynum-] {
  background-color: #f5f5f5;
  a {
    background-color: #f5f5f5;
  }
}

header.cla-header {
  border-bottom: 3px solid #7E1946;
}

.cla-header .hamburger-icon {
  background: #7E1946;
  &::before, &::after {
    background: #7E1946;
  }
}

.cla-navigation .cla-navbar-mobile {
  background: #ffffff;
  border-bottom: 3px solid #7E1946;
  li a {
    color: #7E1946;
    border-bottom: 2px solid transparent;
    padding-bottom: 0;
    margin-bottom: 8px;
    display: inline-block;
    &:hover, &:focus {
      background: #ffffff;
      border-bottom: 2px solid #7E1946;
    }
  }
}

.list-group-item {
  border: 1px solid #A63446;
  &:hover {
    border: 1px solid #A63446;
    background: #A63446;
    color: #ffffff !important;
  }
  &:focus {
    background: #A63446;
    color: #ffffff !important;
  }
}

.card {
  .btn {
    color: #7E1946;
    border-color: #7E1946;

    &:hover, &:focus{
      background-color: #7E1946 !important;
      color: $color-white;
    }
  }
}

.page {
	.main-wrapper {
		.page-nav {
			ul {
				&:first-child {
					>li {
						>a {
							color: #7C2735;
							border-bottom: 4px solid #EEDADD;
							&:hover {
								border-bottom: 4px solid #B65867;
							}
							&:focus {
								border-bottom: 4px solid #B65867;
							}
						}
					}
				}
			}
			ul.children {
				li {
					>a {
						background-color: #EEDADD !important;
						color: #7C2735;
					}
				}
			}
		}
	}
}

.container {
  &.staff {

    .member-group {
      border-top: 4px solid #EEDADD;

      h4 {
        background: #7E1946;
      }
    }
  }
}
.page {
	.main-wrapper {
		.page-nav {
			ul {
				>li {
					>ul {
						>li {
							a {
								&:hover {
									background-color: #B65867;
								}
							}
							>a {
								&:focus {
									background-color: #B65867;
								}
							}
						}
					}
				}
			}
		}
	}
}
.pagination {
	.page-item.active {
		.page-link {
			background-color: #7E1946;
			border-color: #7E1946;
		}
	}
	.page-link {
		color: #7E1946;
	}
}
.tribe-events-notices {
	background: #EEDADD;
	border: 1px solid #EEDADD;
}

