a {
	color: #000000;
	&:hover {
		color: #000000;
		border-bottom: 1px solid transparent;
		background: none;
	}
	&:focus {
		color: #000000;
		border-bottom: 1px solid transparent;
		background: none;
	}
}
a.more-link {
	color: #000000;
	&::after {
		color: #000000;
	}
}
h2.entry-title {
	a {
		color: #000000;
	}
}
#breadcrumbs {
	a {
		color: #000000;
	}
}
section.footer-widget-area {
	.container-fluid {
		background-color: #EDEDED;
		.row {
			.container {
				.row {
					div {
						h1 {
							color: #272727;
						}
						h2 {
							color: #272727;
						}
						h3 {
							color: #272727;
						}
						h4 {
							color: #272727;
						}
						h5 {
							color: #272727;
						}
						h6 {
							color: #272727;
						}
						p {
							color: #272727;
						}
						a {
							color: #272727;
							&:hover {
								color: #272727;
							}
							&:active {
								color: #272727;
							}
							&:focus {
								color: #272727;
							}
						}
						ul {
							li {
								&::before {
									color: #272727;
								}
							}
						}
					}
				}
			}
		}
	}
}
.cla-slider {
	.slide {
		p {
			background-color: #EDEDED;
			color: #272727;
		}
		a {
			color: #272727;
		}
	}
	.slidenav {
		button {
			background-color: #EDEDED;
			border: 2px solid #EDEDED;
			color: #272727;
			&:hover {
				background-color: #6F7476;
				border: 2px solid #6F7476;
				color: #ffffff;
			}
			&:focus {
				background-color: #6F7476;
				border: 2px solid #6F7476;
				color: #ffffff;
			}
		}
	}
}
.cla-navigation {
	.cla-navbar {
		background-color: #F8F8F8 !important;
		border: none;
		.nav-item {
			.dropdown-menu {
				.nav-item {
					.dropdown-item {
						color: #6F7476;
						text-decoration: none;
						&:hover {
							background: #757575;
						}
						&:focus {
							background: #757575;
						}
					}
				}
			}
			.nav-link {
				color: #272727;
				&:hover {
					color: #272727;
				}
				&:focus {
					color: #272727;
				}
			}
		}
		.nav-item.current-menu-item {
			.nav-link {
				color: #272727 !important;
				border-bottom: 2px solid #272727 !important;
			}
		}
	}
	.cla-navbar-mobile {
		background: #ffffff;
		border-bottom: 3px solid #6F7476;
		li {
			a {
				color: #6F7476;
				border-bottom: 2px solid transparent;
				padding-bottom: 0;
				margin-bottom: 8px;
				display: inline-block;
				&:hover {
					background: #ffffff;
					border-bottom: 2px solid #6F7476;
				}
				&:focus {
					background: #ffffff;
					border-bottom: 2px solid #6F7476;
				}
			}
		}
	}
}
.cla-social {
	.button {
		&:hover {
			color: #6F7476;
		}
		&:focus {
			color: #6F7476;
		}
		color: #272727;
	}
}
.footer-widget-area {
	a {
		&:hover {
			background: none;
			color: #fff;
			border-bottom: 1px solid transparent;
		}
		&:focus {
			background: none;
			color: #fff;
			border-bottom: 1px solid transparent;
		}
	}
}
.menu {
	.list-group-item-action {
		color: #6F7476;
		text-decoration: none;
	}
}
.calendar_wrap {
	a {
		color: #272727;
		&:hover {
			color: #ffffff;
			background: #EDEDED;
		}
		&:focus {
			color: #ffffff;
			background: #EDEDED;
		}
	}
}
.tribe-events-nav-pagination {
	a {
		color: #272727;
		&:hover {
			background: #757575;
			color: #ffffff;
			padding: 4px 6px;
		}
		&:focus {
			background: #757575;
			color: #ffffff;
			padding: 4px 6px;
		}
	}
}
#tribe-bar-form {
	.tribe-bar-submit {
		input[type=submit] {
			background: #324A5F;
		}
	}
}
.tribe-events-calendar {
	thead {
		th {
			background: #EDEDED;
			color: #000000;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
		}
	}
	td.tribe-events-present {
		div[id*=tribe-events-daynum-] {
			background: #324A5F;
			a {
				background: #324A5F;
			}
		}
	}
	div[id*=tribe-events-daynum-] {
		background-color: #f5f5f5;
		a {
			background-color: #f5f5f5;
		}
	}
}
#tribe-events {
	.tribe-events-button {
		background: #324A5F;
		&:hover {
			background: #324A5F;
		}
	}
}
#tribe_events_filters_wrapper {
	input[type=submit] {
		background: #324A5F;
	}
}
.tribe-events-button {
	background: #324A5F;
	&:hover {
		background: #324A5F;
	}
}
.tribe-events-button.tribe-active {
	&:hover {
		background: #324A5F;
	}
}
.tribe-events-button.tribe-inactive {
	background: #324A5F;
}
header.cla-header {
	border-bottom: 3px solid #F8F8F8;
}
.cla-header {
	.hamburger-icon {
		background: #6F7476;
		&::before {
			background: #6F7476;
		}
		&::after {
			background: #6F7476;
		}
	}
}
.list-group-item {
	border: 1px solid #EDEDED;
	&:hover {
		border: 1px solid #EDEDED;
		background: #EDEDED;
		color: #000000 !important;
	}
	&:focus {
		background: #EDEDED;
		color: #000000 !important;
	}
}
.tribe-events-filter-view.tribe-filters-closed {
	#tribe_events_filters_wrapper {
		#tribe_events_filters_toggle {
			color: #6F7476;
		}
	}
}
.card {
	.btn {
		color: #324A5F;
		border-color: #324A5F;
		&:hover {
			background-color: #324A5F !important;
			color: #ffffff;
		}
		&:focus {
			background-color: #324A5F !important;
			color: #ffffff;
		}
	}
}
.page {
	.main-wrapper {
		.page-nav {
			ul {
				>li {
					>a {
						background-color: #D8D8D8 !important;
						&:hover {
							background-color: #F7F7F2 !important;
							color: #707070;
						}
						&:focus {
							background-color: #F7F7F2 !important;
							color: #707070;
						}
					}
				}
				>li.current_page_item {
					>a {
						background-color: #6F7476 !important;
						color: #ffffff;
					}
				}
				&:first-child {
					>li {
						>a {
							color: #757575;
							border-bottom: 4px solid #F2F2F2;
							background: transparent !important;
							&:hover {
								border-bottom: 4px solid #707070;
							}
							&:focus {
								border-bottom: 4px solid #707070;
							}
						}
					}
				}
			}
			ul.children {
				li {
					>a {
						background-color: #F4F4F4 !important;
						color: #707070;
					}
				}
			}
			>ul {
				>li {
					>ul {
						>li {
							a {
								color: #272727;
							}
						}
					}
				}
			}
		}
	}
}
footer {
	background-color: #757575 !important;
	.footer-logos {
		background-color: #757575 !important;
	}
}
.container.staff {
	.member-group {
		h4 {
			background: #757575;
		}
		border-top: 4px solid #F2F2F2;
	}
}
.pagination {
	.page-item.active {
		.page-link {
			background-color: #757575;
			border-color: #757575;
		}
	}
	.page-link {
		color: #757575;
	}
}
.tribe-events-notices {
	background: #EDEDED;
	border: 1px solid #EDEDED;
}
